@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Yanone+Kaffeesatz:wght@300&display=swap');
.header {
  padding: 30px;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background: #0EA878;
  color: white;
  font-size: 30px;
    height: 300px;
}
.p{
  margin-right: 200px;
  padding: 30px;
text-align: right;
  font-family: 'Montserrat', sans-serif;
}
