@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Yanone+Kaffeesatz:wght@300&display=swap');
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("purplecode.jpg");
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.hero-text-two {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 45%;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white
}

#mySidenav a {
  position: absolute;
  left: -200px;
  transition: 0.3s;
  padding: 15px;
  width: 250px;
  height: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 20px;
  background-color: #AD59F3;
}

#good {
  top: 80px;
  background-color: #AD59F3;
}

#bad {
  top: 140px;
  background-color: #AD59F3;
}

#references {
  top: 200px;
  background-color: #AD59F3
}
.main {
  margin-top: 50px;
  margin-left: 50px;
 margin-right: 50px;
  margin-bottom: 50px;
}
.left {
  float: left;
  border: 1px dotted black;
  margin: 0px 10px 0px 20px;
}
.right {
  float: right;
  border: 1px dotted black;
  margin: 0px 10px 0px 20px;
}
h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  color: black
}
p.one {
color: white;
font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
